.the-crowd {
  h1 {
    font-size: 16.5rem;
    color: #3b8795;
    margin-bottom: 2.2rem;
    line-height: 10.6rem;
    letter-spacing: -0.8rem;
    max-width: 50rem;
  }

  .band {
    &__information {
      align-items: flex-end;
      flex-direction: row;
      background-color: #dfe2da;
      padding: 0 2rem;

      .details {
        color: #200320;
        font-size: 1.4rem;
        line-height: 2.1rem;
        width: 13.5rem;
        margin-bottom: 2rem;

        .date {
          margin-bottom: 6rem;
        }

        .guests {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
