---
bandName: '404'
slug: not-found
permalink: 404.html
elements: ['circular-gradient']
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="stage">
    <main class="band not-found">
      <a href="https://swissted.koch.dev">
        <div class="band__information">
          <div class="details">
            <div>go home</div>
          </div>
          <h1>not found</h1>
        </div>
        <div class="band__art">
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
          <artistic-circular-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#3d8e89"
              angle="0deg"
            ></artistic-circular-gradient>
        </div>
      </a>
    </main>
  </div>
{% endblock %}
