---
bandName: Bad Religion
slug: bad-religion
elements: ['rectangle']
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="stage">
    <main class="band {{ slug }}">
      <a
      href="https://www.swissted.com/products/bad-religion-at-eagles-lodge-1990"
    >
        <div class="top">
          <div class="top-left">
            <div class="hardcore">
              <div>Upcoming</div>
              <div>All Ages Hardcore</div>
            </div>
            <div>
              <div>At The Eagles Lodge</div>
              <div>Schenectady, New York</div>
            </div>
          </div>
          <div>
            <div>Hope To See You There</div>
            <div>Wednesday, June 27 1990</div>
          </div>
        </div>
        <div class="middle">
          <div class="middle-left">Bad</div>
          <div class="middle-right"></div>
        </div>
        <div class="bottom">
          <div>Religion</div>
          <div class="details">
            <div>
            With
            <br />
            Jawbreaker & Glee Club
          </div>
          </div>
        </div>
      </a>
    </main>
  </div>
{% endblock %}
