---
bandName: David Bowie
slug: david-bowie
elements: ['rectangle', 'rectangle-gradient']
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="stage">
    <main class="band {{ slug }}">
      <a
          href="https://www.swissted.com/products/david-bowie-at-dunstable-civic-center-1972"
        >
        <div class="band__art">
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#2a2d78"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#439dc8"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#439dc8"
            ></artistic-rectangle>
          <artistic-rectangle-gradient
              width="25%"
              height="25%"
              color="#439dc8"
              color2="#377e49"
              angle="135deg"
            ></artistic-rectangle-gradient>

          <artistic-rectangle
              width="25%"
              height="25%"
              color="#be2b75"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#dce0d8"
            ></artistic-rectangle>
          <artistic-rectangle-gradient
              width="25%"
              height="25%"
              color="#dce0d8"
              color2="#ceb33e"
              angle="135deg"
            ></artistic-rectangle-gradient>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#377e49"
            ></artistic-rectangle>

          <artistic-rectangle
              width="25%"
              height="25%"
              color="#be2b75"
            ></artistic-rectangle>
          <artistic-rectangle-gradient
              width="25%"
              height="25%"
              color="#dce0d8"
              color2="#ceb33e"
              angle="135deg"
            ></artistic-rectangle-gradient>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#ceb33e"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#377e49"
            ></artistic-rectangle>

          <artistic-rectangle-gradient
              width="25%"
              height="25%"
              color="#be2b75"
              color2="#b62e29"
              angle="135deg"
            ></artistic-rectangle-gradient>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#b62e29"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#b62e29"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#2d2b2e"
            ></artistic-rectangle>
        </div>
        <div class="band__information">
          <h1>David Bowie</h1>
          <div class="details">
            <div class="guests-venue">
              <div class="guests">
                <div>With The Flamin&apos; Groovies</div>
                <div>Special Guests from the U.S.A.</div>
              </div>
              <div class="venue">
                <div>At Dunstable Civic Center</div>
                <div>65p in advance / 75p at the door</div>
              </div>
            </div>
            <div class="date">
              <div>Wednesday</div>
              <div>June 21 1972 / 7:30 pm</div>
            </div>
          </div>
        </div>
      </a>
    </main>
  </div>
{% endblock %}
