---
bandName: Shudder To Think
slug: shudder-to-think
elements: ['rectangle-gradient']
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="stage">
    <main class="band {{ slug }}">
      <a
          href="https://www.swissted.com/products/shudder-to-think-at-mcgregors-1992"
        >
        <div class="band__information">
          <div class="details">
            <div class="guests-venue">
              <div class="guests">
                <div>With Special Guests</div>
                <div>Jawbox from Washington D.C.</div>
                <div>and Guage from Chicago</div>
              </div>
              <div class="venue">
                <div>At McGregor&apos;s</div>
                <div>Route 83 and North Avenue</div>
                <div>Elmhurst, Illinois</div>
              </div>
            </div>
            <div class="date">
              <div>Wednesday, March 4 1992</div>
              <div>McGregor&apos;s Grand Reopening Show</div>
              <div>All Ages / Only $5 / 7pm</div>
            </div>
          </div>
          <h1>Shudder To Think</h1>
        </div>
        <div class="band__art">
          <artistic-rectangle-gradient
              width="71.6rem"
              height="71.6rem"
              color="#000212"
              color2="#dfe2da"
              angle="135deg"
            ></artistic-rectangle-gradient>
          <artistic-rectangle-gradient
              width="71.6rem"
              height="71.6rem"
              color="transparent"
              color2="#66bfbe"
              angle="135deg"
              top="-19.4rem"
            ></artistic-rectangle-gradient>
          <artistic-rectangle-gradient
              width="45.6rem"
              height="45.6rem"
              color="#654494"
              color2="#000212"
              angle="45deg"
              top="calc(71.6rem - 45.6rem)"
              left="calc(71.6rem - 45.6rem)"
            ></artistic-rectangle-gradient>
        </div>
      </a>
    </main>
  </div>
{% endblock %}
