---
bandName: The Crowd
slug: the-crowd
elements: ['rectangle', 'circular']
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="stage">
    <main class="band {{ slug }}">
      <a
          href="https://www.swissted.com/products/crowd-at-whisky-a-go-go-1981"
        >
        <div class="band__information">
          <h1>The Crowd</h1>
          <div class="details">
            <div class="date">
              <div>Friday & Saturday</div>
              <div>March 13/14 1981</div>
            </div>
            <div class="guests">With The Dickies</div>
            <div class="venue">
              <div class="name">Whiskey a Go Go</div>
              <div class="address-1">8901 West Sunset</div>
              <div class="address-2">Hollywood, Ca</div>
            </div>
          </div>
        </div>
        <div class="band__art">
          <artistic-rectangle
              width="71.6rem"
              height="71.6rem"
              color="#070254"
            >
            <artistic-circular
                width="66.6rem"
                height="66.6rem"
                color="#1b3177"
              ></artistic-circular>
          </artistic-rectangle>
        </div>
      </a>
    </main>
  </div>
{% endblock %}
