---
bandName: The Velvet Underground
slug: the-velvet-underground
elements: ['rectangle']
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="stage">
    <main class="band the-velvet-underground">
      <a
          href="https://www.swissted.com/products/the-velvet-underground-at-the-paramount-theatre-1970"
        >
        <div class="band__information">
          <div class="details">
            <div class="left">
              <div class="date">
                <div>Friday January 9 1970</div>
                <div>8:00 pm / $3.00</div>
                <div>The Woodrose Presents</div>
              </div>
              <div className="venue">
                <div>At The Paramount Theatre</div>
                <div>1700 Main Street</div>
                <div>Springfield, Massachusetts</div>
              </div>
            </div>
            <div className="guests">
              <div>With special guests Fat</div>
              <div>And Barry T & The Studebakers</div>
              <div>An Auntie Gravity Production</div>
            </div>
          </div>
          <h1>
            <div>The</div>
            <div>Velvet Underground</div>
          </h1>
        </div>
        <div class="band__art">
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#52bcef"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#dfe2da"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#dfe2da"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#dfe2da"
            ></artistic-rectangle>

          <artistic-rectangle
              width="25%"
              height="25%"
              color="#52bcef"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#000212"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#000212"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#dfe2da"
            ></artistic-rectangle>

          <artistic-rectangle
              width="25%"
              height="25%"
              color="#52bcef"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#000212"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#000212"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#dfe2da"
            ></artistic-rectangle>

          <artistic-rectangle
              width="25%"
              height="25%"
              color="#52bcef"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#52bcef"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#52bcef"
            ></artistic-rectangle>
          <artistic-rectangle
              width="25%"
              height="25%"
              color="#dfe2da"
            ></artistic-rectangle>
        </div>
      </a>
    </main>
  </div>
{% endblock %}
